form.semantic fieldset
{
	clear: both;
	padding: 10px;
	background-color: #f8f8f8;
	margin: 1em 0 0 0;
	border: 1px solid gray;
	overflow: auto;
}

form.semantic legend 
{
	font-weight: bold;
}
 
form.semantic div 
{
	clear: both;
	padding: 0.5em 0 0 0;
	margin: 0;
	overflow: visible;
}

form.semantic label 
{
	display: block;
	float: left;
	width: 120px;
	text-align: right;
	padding: 0.2em 1ex 0.4em 0;      
}

form.semantic label.after 
{
   display: inline;
	width: auto;
	text-align: left;
	float: none;
}

form.semantic label.long 
{
	clear: both;
	width: auto;
	text-align: left;
	float: none;
}

form.semantic label.error
{
	width: auto;
	color: maroon;
	text-align: left;
} 



form.semantic div span {
  margin-left: 1ex;
}
          
form.semantic input
, form.semantic textarea
{
    font-family: monospace;
}


form.semantic input 
, form.semantic select 
, form.semantic textarea
{
	float: left;
}



form.semantic div.field-row 
{
	clear: none;
	float: left;
	margin: 0;
	padding: 0;
	overflow: visible;
}

form.semantic div.field-row > *
{
	float: none;
	display: inline;
}


form.semantic div.button-row
{
	text-align: right;
}

form.semantic div.button-row input
{
	float: none;
}

.errorMessageContainer 
{
	font-weight: bold;
	display: none;
	color: maroon;
}

form.semantic ul {
  list-style-type: none;  
  float: left;
  padding: 0;  
  margin: 0;
}

form.semantic li {
  clear: both;
  padding: 2px 0;        

}

form.semantic li label {
  width: auto;  
  text-align: left;
  padding: 0;
} 


form.semantic li select {
  margin: 0 0 5px;
}

form.semantic div.errorMessageContainer 
{
	display: none;
	font-weight: bold;
	color: #77002a;
	margin: 5px 0;
}

form.semantic input.error
, form.semantic select.error
, form.semantic textarea.error
{
    background-color: #77002a; 
    color: white;
}

