form.semantic fieldset
{
	clear: both;
	padding: 10px;
	background-color: #f8f8f8;
	margin: 1em 0 0 0;
	border: 1px solid gray;
	overflow: auto;
}

form.semantic legend 
{
	font-weight: bold;
}
 
form.semantic div 
{
	clear: both;
	padding: 0.5em 0 0 0;
	margin: 0;
	overflow: visible;
}

form.semantic label 
{
	display: block;
	float: left;
	width: 120px;
	padding: 0.2em 1ex 0.4em 0;
	text-align: right;      
}




form.semantic div span {
  margin-left: 1ex;
}
          
form.semantic input
, form.semantic textarea
{
    font-family: monospace;
}


form.semantic input 
, form.semantic select 
, form.semantic textarea
{
	float: left;
}





form.semantic div.button-row
{
	text-align: right;
}

form.semantic div.button-row input
{
	float: none;
}



form.semantic ul {
  list-style-type: none;  
  float: left;
  padding: 0;  
  margin: 0;
}

form.semantic li {
  clear: both;
  padding: 2px 0;        

}

form.semantic li label {
  width: auto;  
  text-align: left;
  padding: 0;
} 
           
form.semantic .button-row
{
	text-align: right;
}

form.semantic .button-row input
{
	float: none;
}
          

/* Errors -- for use with JQuery Validate, etc. */

form.semantic input.error
, form.semantic select.error
, form.semantic textarea.error
{
    background-color: #77002a; 
    color: white;
 }                                                

form.semantic label.error
{
  width: auto;
  color: #77002a;
  text-align: left;
}

